@import url("jquery-ui-1.8.21.custom.css");

/* Map */
div#assetMap div#map {
    margin:0px;
    width:100%;
    height:400px;
}

div#assetMap div#map .mapButton {
    cursor: pointer;
    background-color: -moz-linear-gradient(center top , #FEFEFE, #F3F3F3);
    background-color: #FEFEFE;
    border: 1px solid #A9BBDF;
    border-radius: 2px;
    padding: 0 6px;
    line-height: 160%;
    font-size: 12px;
    font-family: Arial,sans-serif;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
div#assetMap div#map .mapButton:hover {
    border: 1px solid #678AC7;
}
div#assetMap div#map .mapButton.active {
    background-color: -moz-linear-gradient(center top , #6D8ACC, #7B98D9);
    background-color: #6D8ACC;
    color: #fff;
    font-weight: bold;
    border: 1px solid #678AC7;
}

div#assetMap div#map .buttonContainer
{
    padding:5px;
}

div#assetMap div#map .geoControls
{
    position:absolute;
    right:5px;
    top:30px;
    cursor: pointer;
    background-color: #FEFEFE;
    border: 1px solid #A9BBDF;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding: 0 6px;
    line-height: 160%;
    font-size: 12px;
    font-family: Arial,sans-serif;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    padding:5px;
    width:220px;
}
div#assetMap div#map .geoControls input
{
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #1A2744;
    margin-right:5px;
}
div#assetMap div#map .geoControls a
{
    color: #4B70BC;
}
div#assetMap div#map .geoControls a:hover
{
    color: #324D85;
}
div#assetMap div#map .geoControls .searchError
{
    color: #800000;
    font-weight:bold;
}

div#assetMap div#map .layersControls
{
    position:absolute;
    right:5px;
    top:30px;
    cursor: pointer;
    background-color: #FEFEFE;
    border: 1px solid #A9BBDF;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding: 0 6px;
    line-height: 160%;
    font-size: 12px;
    font-family: Arial,sans-serif;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    padding:5px;
    width:180px;
}

 /* intro */
 /* intro */
div#assetMap .intro{
	font-size: 90%;
	font-style: normal;
	padding: 10px 0px;
	color: gray;
} 

/* categories */

div#assetMap #categoryList{  
    position:relative;
} 
div#assetMap #categoryList .categoryLabel{
	font-size: 120%;
	font-weight: bold;
	padding: 2px 0px;
	float: left;
	padding-right: 10px;
	color: #444444;
} 
div#assetMap #categoryList .buttonList{  
	top:0px;
	margin-left:120px;
} 

/* Alert */

div#assetMap div#alerts {
    color:#e81717;
	margin:10px 0px;
	font-size:115%;
	font-weight:bold;
}

/* Results */

div#assetMap #results{  
	margin:10px 0px;
	color: #666666;
    min-height:250px;
} 

div#assetMap #results h2{  
    color:#584d1a;
    font-size:20px !important;
	font-style: normal;
	padding:0px !important;
    margin:20px 0px 0px 0px !important;
} 
div#assetMap #results h3{
	color: #333333;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 14px;
} 

div#assetMap #results .resourceItem{
	color: #666666;
	margin: 12px 0px 0px 5px;
	padding: 0;
	font-size: 12px;
	line-height:140%;
} 
div#assetMap #results .resourceColumns
{
	width: 50%;
	float:left;	
}

div#assetMap .mapCredit{
	background-image: url('images/WDB-logo.png');
	background-repeat: no-repeat;
	background-position: left top;
	margin: 10px auto 15px auto;
	min-width: 400px;
   font-size:small;
	width: 70%;
	padding-left: 130px;
	color: #A8A8A8;
}

/* bubbleInfo */
	
.bubbleInfo {
	position: relative;
}

.trigger {
	border:1px solid pink;
}

.popup {
	position: absolute;
	display: none;
	background-image:url('images/box-top.png');
	background-repeat:no-repeat;
	padding-top:25px;
	width:250px;
	z-index:1000;
}
.popup .popupMid {
	background-image:url('images/box-middle.png');
	padding:0px 20px 0px 20px;
}
.popup .popupBtm {
	height:27px;
	background-image:url('images/box-bottom.png');
}
